# CMAK is a tool for managing Apache Kafka clusters
# repository: https://github.com/yahoo/CMAK
# image: https://hub.docker.com/r/hlebalbau/kafka-manager
# default user: admin, password:123456

version: '3.8'

services:
  kafka_manager:
    image: hlebalbau/kafka-manager:${APP_VERSION}
    container_name: "${APP_CONTAINER_NAME}"
    restart: always
    ports:
      - "${APP_PORT}:9000"
    environment:
      ZK_HOSTS: "${ZK_HOST}"
      APPLICATION_SECRET: "random-secret"
      KAFKA_MANAGER_AUTH_ENABLED: "true"
      KAFKA_MANAGER_USERNAME: ${APP_USER}
      KAFKA_MANAGER_PASSWORD: ${APP_PASSWORD}

networks:
  default:
      name: "${APP_NETWORK}"